.music-contest-toptitle-wrap {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h2 {
    font-weight: 700;
    span {
      color: #ffcd36;
    }
  }
}
.music-contest-content-wrap {
  p {
    padding: 30px 25%;
    text-align: center;
    color: #910480;
    span {
      font-weight: 600;
    }
  }
}
.contest-navbar-icon {
  text-align: center;
  color: #910480;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
.music-contest-data-upload-wrap {
  padding-left: 20%;
  padding-right: 20%;
}
.submit-contenst-button-bottom {
  text-align: right;
  button {
    color: #fff;
  }
}
.footer-top-main-wrap {
  text-align: center;
  background: #808080db;
  padding: 50px 0px 20px 0px;
  color: #fff;
  .footer-top-single-item {
    ul {
      padding-left: 0;
      li {
        list-style: none;
        color: #fff;
      }
    }
  }
}

.footer-bottom-main-wrap {
  background: #90007e;
  padding: 50px;
  .footer-top-single-item p {
    margin-bottom: 0;
    color: #fff;
  }
}
.music-contest-data-upload-wrap {
  small.text-danger {
    color: #910480 !important;
  }
}
// .text-danger {
//   color: #910480;
// }
.form-navbar-main-btn-area {
  display: flex;
  justify-content: end;
  button {
    color: #910480;
    background: none;
    border-radius: 25px;
    border: 1px solid;
    padding: 12px 40px;
    &:last-child {
      color: #910480;
      background: #ffb800;
      border-radius: 25px;
      border: 1px solid #ffb800;
      padding: 12px 40px;
    }
  }
  &.next {
    justify-content: space-between;
  }
}
.form-navbar-main-btn-area- {
  text-align: center;
  button {
    border: none;
    background: none;
  }
  p {
    color: #910480;
  }
}
.form-navbar-main-btn-area-next {
  text-align: center;
  margin-bottom: 40px;
}
button.form-navbar-main-kmgf.p-0 {
  padding-right: 10px !important;
  display: inline-block;
}
.form-navbar-main-btn-area-next button {
  padding-right: 10px !important;
  display: inline-block;
  border: none;
  background: none;
}
.single-checkbox-wrap {
  display: flex;
  justify-content: space-between;
  a {
    color: #910480;
  }
  gap: 10px;
  input {
    width: 30px;
    height: 30px;
    padding: 10px;
  }
}
.add-form-next-data-area {
  text-align: center;
  p {
    color: #910480;
  }
}
p.next-form-button-fmgfd {
  background: #ffb800;
  padding: 10px 30px;
  border-radius: 25px;
  color: #90007e;
}
